{% load static %}   
<div id="cajonRublos">
   <section class="rublos">
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/abogados.jpg'  %}" alt="abogados"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/academias.jpg'  %}" alt="abogados"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/agricola.jpg'  %}" alt="abogados"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/arquitectura.jpg'  %}" alt="abogados"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/artesanias.jpg'  %}" alt="abogados"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/arte-y-cultura.jpg'  %}" alt="arte-y-cultura"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/bicicletas-electricas.jpg'  %}" alt="bicicletas-electricas"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/bolsa-de-empleo.jpg'  %}" alt="bolsa-de-empleo"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/carnicerias.jpg'  %}" alt="carnicerias"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/camara-y-comercio-internacional.jpg'  %}" alt="camara-y-comercio-internacional"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/casa-de-festejos.jpg'  %}" alt="casa-de-festejos"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/centro-de-salud.jpg'  %}" alt="entro-de-salud"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/centros-comerciales.jpg'  %}" alt="centros-comerciales"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/centros-naturistas.jpg'  %}" alt="centros-naturistas"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/centros-turisticos.jpg'  %}" alt="centros-turisticos"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/charcuteria.jpg'  %}" alt="charcuteria"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/cines.jpg'  %}" alt="cines"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/cirugia-plastica.jpg'  %}" alt="cirugia-plastica"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/clases-de-apoyo.jpg'  %}" alt="clases-de-apoyo"></a></div>

      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/clinica-veterinaria.jpg' %}" alt="clinica-veterinaria"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/club-deportivo.jpg' %}" alt="club-deportivo"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/colegios.jpg' %}" alt="colegios"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/comidas-rapidas.jpg' %}" alt="comidas-rapidas"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/concesionarios.jpg' %}" alt="concesionarios"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/contadores-publicos.jpg' %}" alt="contadores-publicos"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/diseno-grafico.jpg' %}" alt="diseño-grafico"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/domicilios.jpg' %}" alt="domicilios"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/editorial.jpg' %}" alt="editorial"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/empresas-multinacionales.jpg' %}" alt="empresas-multinacionales"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/equipos-medicos.jpg' %}" alt="equipos-medicos"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/farmasias.jpg' %}" alt="farmasias"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/ferreteria.jpg' %}" alt="ferreteria"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/frutas-y-verduras.jpg' %}" alt="frutas-y-verduras"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/gastronomia.jpg' %}" alt="gastronomia"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/gimnacios.jpg' %}" alt="gimnacios"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/heladerias.jpg' %}" alt="heladerias"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/hosting-y-dominio.jpg' %}" alt="hosting-y-dominio"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/hoteleria-y-turismo.jpg' %}" alt="hoteleria-y-turismo"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/instituciones-educativas.jpg' %}" alt="instituciones-educativas"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/joyeria.jpg' %}" alt="joyeria"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/jugueteria.jpg' %}" alt="jugueteria"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/laboratorio-clinico.jpg' %}" alt="laboratorio-clinico"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/libreria.jpg' %}" alt="libreria"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/odontologia.jpg' %}" alt="odontologia"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/servicios-educativos.jpg' %}" alt="servicios-educativos"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/servicios-inmoviliarios.jpg' %}" alt="servicios-inmoviliarios"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/spa.jpg' %}" alt="spa"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/supermercados.jpg' %}" alt="supermercados"></a></div>
      <div class="boxRublo"><a href=""><img src="{% static 'img/categories/universidad.jpg' %}" alt="universidad"></a></div>



   </section>
</div>