{% load static %}
<!-- <section class="netflix">
   <div class="child_netflix">      
         <video controls>
            <source src="{% static 'video/netflix.mp4' %}" type="video/mp4">
            <source src="{% static 'video/netflix.mp4' %}" type="video/ogg">
         </video>
         <h3 class="text-center text-white mt-3">Por afiliarte a la Tarjeta MA un mes gratis de Netflix</h3>
         <a class="btn btn-primary mt-3" href="#">Adquierela ya!</a>
      </div>
   </div>
</section> -->

<section class="video">
   <div class="child_video">
      <div class="box_video">
         <video controls>
            <source src="{% static 'video/video.mp4' %}" type="video/mp4">
            <source src="{% static 'video/video.mp4' %}" type="video/ogg">
         </video>
         <a class="btn btn-primary mt-3" href="#">Adquierelo ya!</a>
      </div>

      <div class="banner_video">
         <img src="{% static 'video/banner-video.jpeg'  %}" alt="">
         <a class="btn btn-primary mt-1" href="#">Adquierelo ya!</a>
      </div>
   </div>

</section>