{% load static %}   
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
   <link href="{% static 'css/websysfan.css' %}" rel="stylesheet" />
   
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700;800;900&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

   <title>{% block title %}{% endblock %} | Tarjeta MA </title>

</head>
<body>

   {% block content %}  {% endblock %}
   
   <hr class="py-3">   
   {% include 'base/footer.html' %}