{% load static %}   
   <div class="footer">
      <div class="childFooter">
         <div class="boxFooter">
            <img class="imgFooter" src="{% static 'img/servicios_integrales.png' %}" alt="Servicios Integrales"/>
         </div>
         <div class="boxFooter">
            <a target="_blank" href="https://www.facebook.com/Servicios-Integrales-MA-105693124662733"><img class="social-footer" src="{% static 'img/facebook.png' %}" alt="facebook"/></a>
            <a target="_blank" href="https://www.instagram.com/accounts/edit/"><img class="social-footer" src="{% static 'img/instagram.png' %}" alt="facebook"/></a>
            <a target="_blank" href=""><img class="social-footer" src="{% static 'img/youtube.png' %}" alt="facebook"/></a>
            <!-- <a href=""><img class="social-footer" src="{% static 'img/twitter.png' %}" alt="facebook"/></a> -->
         </div>
      </div>
      <p class="text-center py-5 text-white-50">
         Copyright &copy 2020 Todos los derechos reservados de
         <b>CONSORCIO SERVICIOS INTEGRALES M.A </b>
      </p>
   </div>


   <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
   <script src="{% static 'js/popper.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
   
</body>
</html>