{% load static %}   

{% block slider %}
   <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <img src="{% static 'img/slider/slider-01.jpg' %}" class="d-block w-100" alt="slider">
         </div>         
         <div class="carousel-item">
            <img src="{% static 'img/slider/slider-02.jpg' %}" class="d-block w-100" alt="slider">
         </div>
         <div class="carousel-item">
            <img src="{% static 'img/slider/slider-03.jpg' %}" class="d-block w-100" alt="slider">
         </div>
         <div class="carousel-item">
            <img src="{% static 'img/slider/slider-04.jpg' %}" class="d-block w-100" alt="slider">
         </div>
         <div class="carousel-item">
            <img src="{% static 'img/slider/slider-05.jpg' %}" class="d-block w-100" alt="slider">
         </div>
         <div class="carousel-item">
            <img src="{% static 'img/slider/slider-06.jpg' %}" class="d-block w-100" alt="slider">
         </div>
         <div class="carousel-item">
            <img src="{% static 'img/slider/slider-07.jpg' %}" class="d-block w-100" alt="slider">
         </div>
         <div class="carousel-item">
            <img src="{% static 'img/slider/slider-08.jpg' %}" class="d-block w-100" alt="slider">
         </div>
         <div class="carousel-item">
            <img src="{% static 'img/slider/slider-09.jpg' %}" class="d-block w-100" alt="slider">
         </div>
         <div class="carousel-item">
            <img src="{% static 'img/slider/asesor.png' %}" class="d-block w-100" alt="slider">
         </div>
      </div>
   </div>
{% endblock %}